<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KOA2</title>
</head>
<body>
    <h1>创建文章界面</h1>
    <form method="POST" action="/article">
        标题：<input type="text" name="title">
        副标题：<input type="text" name="subTitle">
        内容： <input type="text" name="content">
        <button type="submit">创建文章</button>
      </form>
</body>
</html>